body {
	background-color: #eff3f6;
}
/* fonts */
@font-face {
    font-family: "Proxima Nova Bold";
    src: url(font/ProximaNovaBold.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url(font/ProximaNovaLight.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url(font/ProximaNovaRegular.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Semibold";
    src: url(font/ProximaNovaSemibold.otf) format("truetype");
}
@font-face {
    font-family: "Proxima Nova Thin";
    src: url(font/ProximaNovaThin.otf) format("truetype");
}
.vertical-center {
    position: relative;
    height: 100vh;
    display: table;
}
.vertical-center1 {
    display: table-cell;
    vertical-align: middle;
}
/* ========== NAVBAR ========== */
.navbar-expand-lg .navbar-nav {
	margin: 0 auto;
}
.navbar-custom {
	background-color: #273142;
	height: 70px;
}
.navbar-custom .nav-item {
	height: 70px;
	line-height: 70px;
}
.navbar-custom .nav-item i {
	display: block;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}
.navbar-custom .nav-item h2 {
	font-size: 14px;
	text-align: center;
}
.navbar-custom .navbar-nav .active>.nav-link {
	font-size: 14px;
	font-weight: 600;
	height: 70px;
	color: #ffffff;
	padding: 0px 15px 0px 15px;
	background-color: #00000029;
} 
.navbar-custom .navbar-nav .nav-link {
	color: #ffffff;
	height: 70px;
	font-size: 14px;
	font-weight: 600;
	padding: 0px 15px 0px 15px;
}
.navbar-custom .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #ffffff;
	background-color: #00000029;
}

/* ========== CONTENT ========== */

.card {
	margin-top: 20px;
	padding: 15px;
	width: 100%;
	height: auto;
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #dfe2e5;
  	background-color: #fff;
}
/* header card */
.header-card h1 {
	font-size: 24px;
	font-weight: 600;
	color: #354052;
	font-family: "Proxima Nova Semibold";;
}
.header-card h4 {
	margin-top: 10px;
	margin-bottom: 2px;
	font-size: 10px;
	font-weight: 600;
	color: #7f8fa4;
	font-family: "Proxima Nova Semibold";;
}
.header-card h5 {
	font-size: 10px;
	font-weight: 600;
	color: #354052;
	font-family: "Proxima Nova Semibold";
}
.header-card h2 {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #354052;
	font-family: "Proxima Nova Semibold";;
}
.header-card h3 {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 400;
	color: #354052;
	font-family: "Proxima Nova Regular";;
}
/* buttons */
.buttons .btn-download {
	border: solid 1px rgba(0, 0, 0, 0.1);
	background-color: #1991eb;
	min-width: 170px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	height: 36px;
	float: right;
}
.buttons .btn-download:hover {
	background-color: #49a0e1;
}
.buttons .btn-download:focus {
	background-color: #1991eb;
	border-color: #1991eb;
	outline: none;
	box-shadow: none;
}
.buttons .btn-download:active {
	background-color: #1991eb !important;
	outline: none;
	box-shadow: none;
}
.buttons .btn-download:active:focus {
	background-color: #1991eb;
	outline: none;
	box-shadow: none!important;
	border-color: #1991eb;
}
.buttons .btn-favorites {
	float: right;
	margin-top: 10px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	height: 36px;
	min-width: 120px;
	font-size: 14px;
	font-weight: 600;
	background-color: #09c199;
}
.buttons .btn-favorites:hover {
	background-color: #13ffcc;
}
.buttons .btn-favorites:focus {
	background-color: #09c199;
	border-color: #09c199;
	outline: none;
	box-shadow: none;
}
.buttons .btn-favorites:active {
	background-color: #09c199 !important;
	outline: none;
	box-shadow: none;
}
.buttons .btn-favorites:active:focus {
	background-color: #09c199;
	outline: none;
	box-shadow: none!important;
	border-color: #09c199;
}
/* search */
.search {
	float: right;
	height: 42px;
	width: 222px;
	background-color: #e2e7ee;
	margin-top: 10px;
	padding: 6px;
}
.search input {
	width: 210px;
	float: right;
	outline: none;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
} 
.search .input-search {
	border: none;
	position: relative;
	float: right;
	color: #e2e7ee;
}
.search .input-group-append {
	float: right;
    margin-right: 10px;
    margin-top: 1px;
}

/* ========== Statistic & Graph ========== */

.statistic-graph {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* statistic */
.statistic {
	height: auto;
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #dfe2e5;
  	background-color: #fff;
  	padding: 5px 15px 5px 15px;
}
.row-blue {
	background-color: rgba(197, 208, 222, 0.25);
	min-height: 30px;
	height: auto;
	line-height: 30px;
}
.row-white {
	min-height: 30px;
	height: auto;
	line-height: 30px;
}
.statistic h5 {
	color: #1991eb;
	font-size: 14px;
}
.statistic p {
	font-size: 14px;
	font-weight: 600;
	color: #354052;
	margin-bottom: 0px;
}
.statistic .show {
	text-align: center;
}
.statistic a {
	font-size: 14px;
	color: #000;
}
/* graph */
.graph {
	height: auto;
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #dfe2e5;
  	background-color: #fff;
  	padding: 5px 15px 5px 15px;
}
.graph img {
	width: 100%;
	height: auto;
}
.graph h5 {
	color: #1991eb;
	font-size: 14px;
}
.btn-graph {
	text-align: center;
	min-width: 40px;
	width: auto;
	height: 25px;
	border: 1px solid #c5d0de;
	background-color: #fff;
	margin-left: 5px;
	float: left;
	margin-right: 5px;
	border-radius: 4px;
	padding: 3px;
}
.btn-graph p {
	margin-top: 0px;
	font-size: 12px;
	color: #7f8fa4;
	font-family: "Proxima Nova Bold";
}
/* Information */
.information {
	height: auto;
	border-radius: 4px;
  	background-color: #ffffff;
  	border: solid 1px #dfe2e5;
  	background-color: #fff;
  	padding: 15px;
}
.information h5 {
	color: #1991eb;
	font-size: 14px;
}
.information h3 {
	font-size: 14px ;
	color: #000;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
}
.information h4 {
	font-size: 12px;
	color: #354052;
}

/* Table */
.table {
	margin-top: 20px;
	border-radius: 4px;
}
.table tbody {
	background-color: #fff;
}
.table th {
	background-color: #4a90e2;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
}
.table td {
	border: none;
	font-size: 12px;
	font-weight: 400;
	font-family: "Proxima Nova Regular";
}
.td-blue {
	background-color: #4a90e2;
	color: #fff;
}
.th-white {
	background-color: #fff !important;
}

/* table1 */

.table1 {
	margin-bottom: 20px;
}
.table1 tbody {
	background-color: #fff;
}
.table1 th {
	font-size: 12px;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.table1 td {
	height: 40px;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	font-family: "Proxima Nova Regular";
	border-bottom: 1px solid #ccc;
	padding-left: 2px;
	padding-right: 2px;
}
.td-table1 {
	text-align: start !important;
	padding-left: 12px !important;
	font-weight: bold !important;
	font-family: "Proxima Nova Bold";
	min-width: 120px;
}

/* Mobile table 1 */
.table-mobile {
	border-radius: 4px;
	width: 100%;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    text-align: center;
}
.table-mobile hr {
	margin-top: 0px;
	margin-bottom: 0px;
}
.table-mobile p {
	font-size: 12px;
	float: left;
	margin-bottom: 0px;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
}
.table-mobile h2 {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
	margin-bottom: 0px;
	line-height: 30px;
}
.table-mobile h3 {
	font-weight: 600;
	font-size: 12px;
	padding-right: 20px;
}
.bg-blue {
	background-color: #4a90e2;
	height: 30px;
}
/* mobile table 2 */
.table1-mobile {
	border-radius: 4px;
	width: 100%;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    text-align: center;
}
.table1-mobile hr {
	margin-top: 0px;
	margin-bottom: 0px;
}
.table1-mobile p {
	font-size: 12px;
	float: left;
	margin-bottom: 0px;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
	position: absolute;
}
.table1-mobile h2 {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	font-family: "Proxima Nova Bold";
	margin-bottom: 0px;
	line-height: 30px;
}
.table1-mobile h3 {
	font-weight: 600;
	font-size: 12px;

}
.table-mobile {
	display: none;
}
.table1-mobile {
	display: none;
}

/* Footer */
.footer {
	margin-bottom: 40px;
}
.footer-image {
	border-radius: 4px;
	border: 1px solid #dfe2e5;
	height: 150px;
	width: auto;
}
.footer img {
	width: 100%;
	height: auto;
}
.footer h1 {
	color: #1991eb;
    font-size: 14px;
}
.footer h2 {
	font-family: "Proxima Nova Semibold";
	font-size: 18px;
	color: #354052;
}
.footer h3 {
	font-family: "Proxima Nova Bold";
	font-size: 12px;
	color: #354052;
}
.footer p {
	font-family: "Proxima Nova Semibold";
	font-size: 12px;
	color: #354052;
	float: right;
	margin-bottom: 0px;
}
.footer h4 {
	font-family: "Proxima Nova Semibold";
	font-size: 12px;
	color: #7f8fa4;
	float: left;
	margin-bottom: 0px;
}
.footer .btn-view {
	width: 100%;
  	height: 36px;
  	border-radius: 4px;
  	border: solid 1px rgba(0, 0, 0, 0.1);
  	background-color: #09c199;
  	margin-top: 25px;
  	color: #fff;
  	font-size: 14px;
  	font-family: "Proxima Nova Semibold";
}
.footer .btn-view:hover {
	background-color: #13ffcc;
}
.footer .btn-view:focus {
	background-color: #09c199;
	border-color: #09c199;
	outline: none;
	box-shadow: none;
}
.footer .btn-view:active {
	background-color: #09c199 !important;
	outline: none;
	box-shadow: none;
}
.footer .btn-view:active:focus {
	background-color: #09c199;
	outline: none;
	box-shadow: none!important;
	border-color: #09c199;
}
@media screen and (max-width: 1200px) {
    .table-desktop {
		display: none;
    }
    .table-mobile {
    	display: unset;
    }
    .table1-mobile {
    	display: unset;
    }
}
@media screen and (max-width: 768px) {
    .graph {
    	margin-top: 20px;
    }
}
@media screen and (min-width: 991px) {
	.dropdown-menu  {
		margin-left: -40px;
	}
}
@media screen and (max-width: 992px) {
    .navbar-collapse {
    	background-color: #273142;
    	z-index: 100;
    	margin-right: -16px;
    	margin-left: -16px;
    	margin-top: 7px;
    }
    .navbar-light .navbar-toggler {
    	border: none;
    	outline: none;
    }
}
